<html>
<head>
    <title>MVC Project</title>
    <meta charset=utf-8 />
</head>
<body>
    <h1>Information about user</h1>
    <img src="data:image/jpeg;base64,@ViewBag.ImageData" alt="Фото">
    <p>Name: @Model.Name</p>
    <p>Surname: @Model.Surname</p>
    <p>Email: @Model.Email</p>
    <p>Group: @Model.Group</p>
    <p>Extra info: @Model.Info</p>
</body>
</html>